<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Visitors</title>
</head>
<body>
{% load avatar_tags %}
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if user.is_authenticated %}<a class="nav-item nav-link active" href="{% url 'edit_profile' %}">Profile<span class="sr-only"></span></a>{% endif %}
      {% if user.is_anonymous %}<a class="nav-item nav-link" href="{% url 'register' %}">Sign up</a>{% endif %}
      {% if user.is_anonymous %}<a class="nav-item nav-link" href="{% url 'login' %}">Sign in</a>{% endif %}
      {% if user.is_authenticated %}<a class="nav-item nav-link disabled" href="{% url 'logout' %}">Log out</a>{% endif %}
    </div>
  </div>
<div>
    <p><strong>Общее количество посещений - {{counter}}</strong></p>
    <ol class="List">
    {% for visit in UList %} <!-- django template lang - for loop -->
        <li> <img src="{{visit.image}}" width="40" height="40"/> {{visit.visitor}} - {{visit.data}}</li>
    {% endfor %}
    </ol><!-- List -->
 </div><!-- container -->
</body>
</html>
