{% extends 'base.html' %}

{% load avatar_tags %}

{% block head %}
  <meta charset="UTF-8">
  <title>Visitors</title>
{% endblock %}
{% block body %}
<div class="container">
    <p><strong>Общее количество посещений - {{counter}}</strong></p>
    <ol class="List">
        {% for visit in UList|dictsort:"id" %} <!-- django template lang - for loop -->
        <li> <img src="{{visit.image}}" width="40" height="40"/> {{visit.visitor}} - {{visit.data}}</li>
    {% endfor %}
    </ol><!-- List -->
 </div><!-- container -->
{% endblock %}

